:root {
  --primary: #2E51A2;
  --primary-dark: #1c439b;
  --primary-light: #E1E7F5;
  --secondary: #bebebe;
  --secondary-dark: #808080;
}

html, body {
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 5px;
}

main {
  flex: 1;
}

.app {
  min-height: 100dvh;
}

.ant-image {
  width: 100%;
}
